body{
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

#container-geral{
  width: 90%;
  margin: 0 auto;
  height: 1162px;
  background-color: white
}

#cabecalho{
  width: 100%;
  height: 132px;
  background-image: url("../images/cabecalho.jpg");
  background-repeat: repeat-x;
}

#cabecalho img{
  margin:42px 0px 0px 135px
}

#container-centro{
  width: 77%;
  margin: 0 auto;
  height: 1030px;
}

#container-geral h1{
  font-size: 18pt;
  margin-top:43px;
  color: #484848;
  font-weight: normal;
  padding-bottom:11px;
  border-bottom:1px solid #eaeaea
}

#titulo-pagina{
  height: 48px;
  margin-top:55px;
  border:0px solid red
}

#titulo-pagina h2{
  float: left;
  font-size: 15.5pt;
  color: #606060;
  font-weight: normal;
}

#titulo-pagina button{
  float: right;
  height: 30px;
  width: 102px;
  background-image: url("../images/botao-bg.jpg");
  background-repeat: repeat-x;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 9pt;
  font-weight: bold;
  cursor: pointer;
}

#busca{
  height: 73px;
  margin-bottom: 7px;
  border:0px solid red
}

#busca label{
border:0px solid red;
float: left;
width: 100%;
font-size: 15px;
margin: 0
}

#busca input{
  float: left;
  border: 1px solid #bcc6d0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-top-left-radius:2px;
  -moz-border-bottom-left-radius:2px;
  width: 262px;
  height: 34px;
}

::-webkit-input-placeholder{padding-left:10px; color: #c2c2c9;}
:-moz-placeholder{padding-left:10px; color: #c2c2c9;}
::-moz-webkit-input-placeholder{padding-left:10px; color: #c2c2c9;}
:-ms-input--placeholder{padding-left:10px; color: #c2c2c9;}

#busca button{
  float: left;
    background-image: url("../images/limpar-busca.jpg");
    background-repeat:no-repeat;
    height: 34px;
    width: 41px;
    border:0px;
    cursor: pointer;
  }

#tabela-resultado{
  margin: 0;
  padding: 0;
  border:1px solid #dedede;
}

.result{
  width: 100%;
  height: 68px;
  border-bottom:1px solid #dedede;
}

#clientes_table{width: 100%}

/*** Configuração da Tabela ***/

.result div{
  float: left;
  height: 68px;
}

.result #foto-perfil{
  float: left;
  width: 8%;
  border:0px solid red
}

.result #foto-perfil img{
  float: right;
  margin:14px 10px 10px 10px;
  border:0px solid red
}

.result #nome-contato{
  float: left;
  width: 42%;
  border:0px solid red
}

.result #nome-contato p{
  float: left;
  border:0x solid red;
  margin:0;
  padding: 0
}

.result p#nome{
  width: 393px;
 /*color: #1082be;*/
 font-weight: bold;
 font-size: 10.5pt;
 margin-top: 10px
}

.result p#contato{
  width: 393px;
  font-size: 10.5pt;
 }

 .result #painel{
  width: 42%;
  font-size: 10pt;
  text-align: center;
  border:0px solid red
 }

 .result #painel p{
  float: left;
  border:0px solid red;
  margin-top:22px;
  font-size: 11pt;
 }

 .result #painel p img{
  border:0px solid red;
  margin:0px 8px 3px 0px
 }


 .result #config{
  width: 8%;
  font-size: 10pt;
  border:0px solid red
 }

 .result #config img{
 margin:14px 0px 0px 20px;
 border:0px solid red;
 cursor: pointer;
 }

 div#tabela-resultado > div:nth-of-type(even) {
  background: #f1f5f6;
}





