.pagination__container{
  width: 77%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}

.results__stats {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #666666;

  span {
    font-size: 15px;
    font-weight: 700;
  }
}

.pagination__pages {
  display: flex;
  .ul, li {
    list-style: none;
  }
}

.pagination__pages--active {
  background-color: black;
}

