.searchBox__input {
  display: flex;
  align-items: center;
  width: 262px;
  height: 36px;
  padding-left: 10px;
  font-family: Arial;
  font-size: 16px;
  color: #d0cccf;
  border: 1px solid #bcc6d0;
  border-radius: 3px;
  &::placeholder {
  color: #d0cccf;
  }
}

.searchBox__container {
  width: 77%;
  font-size: 15px;
  color: #666666;
  margin: 0 auto;
}